doctype html
html(lang='en', ng-app='DormmetitaApp')
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./includes/static-navbar.jade

    block content
    
    script(type='text/javascript', src='/bootstrap/js/jquery-1.11.2.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/scripts.js')
    script(type='text/javascript', src='/javascripts/angular.min.js')
    script(type='text/javascript', src='/javascripts/angular-google-maps.min.js')
    script(type='text/javascript', src='/javascripts/lodash.min.js')
    script(type='text/javascript', src='/app/main.js')
    script(type='text/javascript', src='/app/controllers.js')
